@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700italic);
body {
  background-color: #eee;
  /*background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSh48WtXJ35Nj4tlsuxmkmjZGMpWWoF99nWQT_77BpWXtCamWYaAg");*/

}
a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin: 9px;
  font-family: 'Slabo 27px', serif;
}
a:hover {
  color: gray;
}
#pro {
	font-size: 100px;
	font-family: 'Slabo 27px', serif;
}
img {
	 border-radius: 25px;
   margin-left: 40%;
}
div {
  display: inline-block;
  margin-left: 10px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
  body {
    background-color: lightgray;
    padding-top: 4%;
  }
  img {
    display: inline-block;
    margin: 30px;

  }
  a {
    font-size: 50px;
    padding-left: 30px;
  }
}